body {
    /*position: fixed;*/
    height: 100%;
    width: 100%;
    margin: 0;
    /*background-color: #eaeaea;*/
}

.articleContainer {
    padding-top : 61px;
}

.footer {
    border: none;
    padding-top: 2em;
    background-color: #333;
    color: white;
    padding-bottom: 2em;
}

.billboard {
    background: url(../images/logo/ani_billboard.png) no-repeat center;
    padding-top: 170px;
    height: 250px;
    margin-top: 20px;
    text-align: left;
}

.billboard-content {
    width: 660px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
}

.billboard-title {
    float: left;
    margin-left: 20px;
    margin-top: 5px;
}

.intro {
    background-color: #92d13d;
    color: #FFF;
    margin-top: 20px;
}
.home-content {
    margin-top: 20px;
}
ul li {
    list-style-type: none;
}

.contact {
    text-align: center  ;
    background-color: #FFFFFF;
    padding: 10px 40px 30px 40px;
    margin-top: -20px;
    /*-webkit-box-shadow: 0 0 10px #eaeaea;*/
}

.contact h2 {
    font-family:"Myriad", "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-size: 2.5em;*/
    font-weight: normal;
    color: #333333;
    border-bottom: solid 1.5px;
    padding-bottom: 12px;
}
.header {
    width: 100%;
    height: 400px;
    background-image: url("../images/logo/DSC01239副本副本.jpg");
    text-align: center;
    margin-top: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
}

h1.header {

    text-align: center;
    padding-top: -300px;

}

/*content navbar*/

ul li {
    text-align: right;
}

ul li a{
    color: #92d13d;
    padding-right: 20px;
}

#contentNav ul li a:hover {
    color: #333;
    border-right: 2px solid #92d13d;
}


ul li ul a{
    color: #999;
}

ul li ul a:hover {
    border-right: 1px solid #92d13d;
}

#contentNav {
    margin-top: 24px;
}





