<section class="container">
    <div class="row">

        <div class="map">
            <!--百度地图容器-->
            <div style="/*width:66.6%;*/height:425px; border:#ccc solid 1px; font-size:14px" id="map"></div>
        </div>
    </div>


        <div class=" col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
            <div class="contact">
            <h2 ng-bind="'CONTACTS' | translate"></h2>
             <address>
            <strong>ANICLOUD LIMITED</strong><br>
            +86-10-83832098<br>
            cel@anicloud.com<br>
            <p ng-bind="'ADDRESS' | translate"></p>
            </address>
         </div>
        <!--</div>-->
        <!--<div class="col-md-8">
            <h2 ng-bind="'question' | translate"></h2>

            <div class="row">
            <p class="col-md-1" ng-bind="'Name' | translate"></p>
            <form class="col-md-5" >
                <input type="email" class="form-control" id="inputEmail3" placeholder="Your name">
            </form>
            <p class="col-md-1">Email</p>
            <div class="col-md-5">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Your email address">
            </div>
            </div>

            <div class="row">
                <p class="col-md-1 ">Message</p>
                <div class="col-md-11">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Type your message here">
                </div>
            </div>
            <button type="submit" class="btn btn-default">Send the message</button>

            </div>-->






    <script type="text/javascript">
        //创建和初始化地图函数：
        function initMap(){
            createMap();//创建地图
            setMapEvent();//设置地图事件
            addMapControl();//向地图添加控件
            addMapOverlay();//向地图添加覆盖物
            setMapStyle();
        }
        function createMap(){
            map = new BMap.Map("map");
            map.centerAndZoom(new BMap.Point(116.308851,39.869656),16);
        }
        function setMapEvent(){
            map.enableScrollWheelZoom();
            map.enableKeyboard();
            map.enableDragging();
            map.enableDoubleClickZoom()
        }
        function addClickHandler(target,window){
            target.addEventListener("click",function(){
                target.openInfoWindow(window);
            });
        }
        function addMapOverlay(){
            var markers = [
                {content:"",title:"<h4>Anicloud</h4>",imageOffset: {width:0,height:-21},position:{lat:39.86985,lng:116.304396}}
            ];
            for(var index = 0; index < markers.length; index++ ){
                var point = new BMap.Point(markers[index].position.lng,markers[index].position.lat);
                var marker = new BMap.Marker(point,{icon:new BMap.Icon("http://api.map.baidu.com/lbsapi/createmap/images/icon.png",new BMap.Size(20,25),{
                    imageOffset: new BMap.Size(markers[index].imageOffset.width,markers[index].imageOffset.height)
                })});
//                var label = new BMap.Label(markers[index].title,{offset: new BMap.Size(25,5)})
                //取消标签
                var label = new BMap.Label(null)
                label.setStyle({border: "0", background: "none"})

                var opts = {
                    width: 200,
                    title: markers[index].title,
                    enableMessage: false
                };

                var infoWindow = new BMap.InfoWindow(markers[index].content, opts);
                marker.setLabel(label);
                addClickHandler(marker,infoWindow);
                map.addOverlay(marker);
            };
        }

        function setMapStyle() {

            map.setMapStyle({
                styleJson:[ {
                    "featureType": "land",
                    "elementType": "geometry",
                    "stylers": {
                        "color": "#f3f3f3"
                    }
                },
                    {
                        "featureType": "water",
                        "elementType": "all",
                        "stylers": {
                            "color": "#ffffff"
                        }
                    },
                    {
                        "featureType": "green",
                        "elementType": "all",
                        "stylers": {
                            "color": "#d9ead3"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#93c47d"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "geometry.stroke",
                        "stylers": {
                            "color": "#93c47d"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.fill",
                        "stylers": {
                            "color": "#d9ead3"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "geometry.stroke",
                        "stylers": {
                            "color": "#93c47d"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "labels.text.fill",
                        "stylers": {
                            "color": "#93c47d"
                        }
                    },
                    {
                        "featureType": "local",
                        "elementType": "labels.text.stroke",
                        "stylers": {
                            "color": "#b6d7a8"
                        }
                    },
                    {
                        "featureType": "arterial",
                        "elementType": "labels.text.fill",
                        "stylers": {
                            "color": "#274e13"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "labels.text.fill",
                        "stylers": {
                            "color": "#274e13"
                        }
                    },
                    {
                        "featureType": "highway",
                        "elementType": "labels.text.stroke",
                        "stylers": {
                            "color": "#d9ead3"
                        }
                    }]
            });
        }




        //向地图添加控件
        function addMapControl(){
            var scaleControl = new BMap.ScaleControl({anchor:BMAP_ANCHOR_BOTTOM_LEFT});
            scaleControl.setUnit(BMAP_UNIT_IMPERIAL);
            map.addControl(scaleControl);
            var navControl = new BMap.NavigationControl({anchor:BMAP_ANCHOR_TOP_LEFT,type:BMAP_NAVIGATION_CONTROL_LARGE});
            map.addControl(navControl);
        }
        var map;
        initMap();
    </script>


</section>