<section class="container billboard">
    <div class="billboard-content">
        <img src="images/logo/ani_logo.png" style="height: 80px; width: 80px; float: left"/>

        <h1 class="billboard-title" ng-bind="'SLOGAN' | translate"></h1>
        <h4 class="billboard-title" ng-bind="'SLOGAN_SUB' | translate"></h4>
    </div>
</section>
<section class="container-fluid intro">
    <div class="container">
        <div class="col-md-4">
            <h2 ng-bind="'EASY_ACCESSING' | translate"></h2>
            <p ng-bind="'EASY_ACCESSING_CONTENT' | translate"></p>
        </div>
        <div class="col-md-4">
            <h2 ng-bind="'DEVELOPER_FRIENDLY' | translate"></h2>
            <p ng-bind="'DEVELOPER_FRIENDLY_CONTENT' | translate"></p>
        </div>
        <div class="col-md-4">
            <h2 ng-bind="'DECENTRALIZED_AUTHENTICATION' | translate"></h2>
            <p ng-bind="'DECENTRALIZED_AUTHENTICATION_CONTENT' | translate"></p>
        </div>
    </div>
</section>
<section class="container home-content">
    <img src="images/system/ani_architecture.png" />
</section>
<section class="container intro">
    <div class="container">
        <div class="col-md-4">
            <h2>Anicel</h2>
            <p ng-bind="'ANICEL_DESC' | translate"></p>
        </div>
        <div class="col-md-4">
            <h2>Wilddragon</h2>
            <p ng-bind="'WILDDRAGON_DESC' | translate"></p>
        </div>
        <div class="col-md-4">
            <h2>Honey</h2>
            <p ng-bind="'HONEY_DESC' | translate"></p>
        </div>
    </div>
</section>