<section class="container">
    <h1 ng-bind="'MODULES' | translate"></h1>
<ul>
    <li>
        <h2><span class="glyphicon glyphicon-cloud"></span> Anicel</h2>
        <p ng-bind="'ANICEL_DESC' | translate"></p>
    </li>
    <li>
        <h2><span class="glyphicon glyphicon-th"></span> Wilddragon</h2>
        <p ng-bind="'WILDDRAGON_DESC' | translate"></p>
    </li>
    <li>
        <h2><span class="glyphicon glyphicon-shopping-cart"></span> Honey</h2>
        <p ng-bind="'HONEY_DESC' | translate"></p>
    </li>
</ul>
</section>