<section class="container">
    <div class="header">
    <h1>About us</h1>
    <p class="col-lg-8 col-lg-offset-2">Anicloud is consisted by the most powerful and talented people in the world. We created
        the intelligence appliance platform that links the device in your home and the developers who provides more possibility</p>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <img src="">
            <h2></h2>
            <p></p>
        </div>
        <div class="col-lg-4">
            <img src="">
            <h2></h2>
            <p></p>
        </div>
        <div class="col-lg-4">
            <img src="">
            <h2></h2>
            <p></p>
        </div>
    </div>
</section>